@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/Helvetica.ttf') format('truetype');
}

@font-face {
  font-family: 'Courier';
  src: url('/fonts/Courier.ttf') format('truetype');
}

@theme {
  /************ Farver ************/
  /* Hvid */
  --color-primary-100: #FFFFFF; /* lightest */
  --color-primary-400: #F3F3EF; /* base */
  --color-primary-700: #D1D1CB; /* darker */

    /* Sort/mørkegrå */
  --color-secondary-100: #6C6767;
  --color-secondary-400: #322E2E; /* base */
  --color-secondary-700: #1A1818;

    /* Rød */
  --color-tertiary-100: #E35D5D;
  --color-tertiary-400: #BA0606; /* base */
  --color-tertiary-700: #750404;

  /************ Typografi **************/
  --font-sans: 'Helvetica', sans-serif;
  --font-mono: 'Courier', monospace;
}

@layer base {
  /* base styles */
}

@layer components {
  /* animationer osv. */
}

@layer utilities {
  /* custom utilities */
}
