@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

/* Helvetica Neue lt STD 95 */
@font-face {
  font-family: "Helvetica";
  src: url("/fonts/helvetica_neue_lt_std_95_black-webfont.woff2") format("woff2"), url("/fonts/helvetica_neue_lt_std_95_black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Courier";
  src: url("/fonts/Courier.ttf") format("truetype");
}

@theme {
  /************ Farver ************/
  /* Hvid */
  --color-primary-100: #ffffff; /* lightest */
  --color-primary-400: #f3f3ef; /* base */
  --color-primary-700: #d1d1cb; /* darker */

  /* Sort/mørkegrå */
  --color-secondary-100: #6c6767;
  --color-secondary-400: #322e2e; /* base */
  --color-secondary-700: #1a1818;

  /* Rød */
  --color-tertiary-100: #e35d5d;
  --color-tertiary-400: #ba0606; /* base */
  --color-tertiary-700: #880000;

  /************ Typografi **************/
  --font-sans: "Helvetica", sans-serif;
  --font-mono: "Courier", monospace;
}

@layer base {
  /* base styles */
}

@layer components {
  /* animationer osv. */
  @keyframes bounce-slow {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
  }

  .animate-bounce-slow {
    animation: bounce-slow 2s infinite;
  }
}

@layer utilities {
  /* custom utilities, browser reset */
}
