---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
---
<MainLayout title="Titel">
	<main>
<section>
    <img src="/img/microphones.png" alt="Microphones" />
    <Heading size="h1" htmlheading="h1" stylingclasses="text-tertiary-400">Who are we?</Heading>
    <Text>Instant Day is a small project run by a couple of lecturers from the Multimedia Design programme at EK - Business Academy Copenhagen.</Text>
    <Text>Instant Day is a bi-annual project where lecturers and students collaborate on a digital design and communication project related to the Instant Day competition (this website). In essence, we just want to promote instant photography and have fun while doing it. Cheers.</Text>
</section>
<section class="bg-secondary-400">
    <Heading size="h2" htmlheading="h2" stylingclasses="text-primary-400">The judges</Heading>
    <img src="/img/placeholder.png" alt="">
    <img src="/img/placeholder.png" alt="">
    <img src="/img/placeholder.png" alt="">
    <img src="/img/placeholder.png" alt="">
    <Text stylingclasses="text-primary-400">Jonas Hasle (Assistant lecturer, Multimedia Design programme at EK)</Text>
    <Text>Anders Dollerup (Associate lecturer, Multimedia Design programme at EK)</Text>
    <Text>Birgitte Heide (Associate lecturer, Multimedia Design programme at EK)</Text>
    <Text>Stefan Grage (Associate lecturer, Multimedia Design programme at EK)</Text>
    <Text>Students on the Digital Design Elective on the Multimedia Design programme at EK</Text>
</section>
    </main>
</MainLayout>