---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
---
<MainLayout title="Titel">
	<main>
<section class="grid lg:grid-cols-12 lg:gap-5 lg:pb-40">
    <img src="/img/microphones.png" alt="Microphones" class="mt-20 lg:col-start-7 lg:col-end-12 lg:row-start-2"/>
    <Heading size="h1" htmlheading="h1" stylingclasses="text-tertiary-400 px-5 lg:col-start-2 lg:col-end-12">Who are we?</Heading>
    <div class="lg:flex lg:col-start-2 lg:col-end-7 lg:flex-col lg:justify-end">
    <Text stylingclasses="px-5 pb-2 lg:px-0 lg:pb-5">Instant Day is a small project run by a couple of lecturers from the Multimedia Design programme at <span class="text-tertiary-400">EK – Business Academy Copenhagen</span>.</Text>
    <Text stylingclasses="px-5 pb-18 lg:pb-0 lg:px-0">Instant Day is a bi-annual project where <span class="text-tertiary-400">lecturers and students</span> collaborate on a digital design and communication project related to the Instant Day competition (this website). In essence, we just want to promote instant photography and have <span class="text-tertiary-400">fun</span> while doing it. Cheers.</Text>
    </div>
</section>
<section class="bg-secondary-400 p-5 grid lg:grid-cols-12 lg:gap-5 lg:pb-40">
    <Heading size="h2" htmlheading="h2" stylingclasses="text-primary-400 pt-18 pb-5 lg:col-start-2 lg:col-end-12 lg:text-right">The judges</Heading>
    <div class="grid grid-cols-2 gap-5 
    lg:col-start-2 lg:col-end-6
    lg:block 
    lg:h-[560px]
    lg:overflow-y-auto
    lg:snap-y lg:snap-mandatory
    lg:space-y-5
    lg:[scrollbar-width:none] lg:[&::-webkit-scrollbar]:hidden
    ">
        <img src="/img/placeholder.png" alt="Jonas Hasle" class="w-full object-cover
                lg:h-[560px] lg:snap-start lg:flex-none">
        <img src="/img/placeholder.png" alt="Anders Dollerup" class="w-full object-cover
                lg:h-[560px] lg:snap-start lg:flex-none">
        <img src="/img/placeholder.png" alt="Birgitte Heide" class="w-full object-cover
                lg:h-[560px] lg:snap-start lg:flex-none">
        <img src="/img/placeholder.png" alt="Stefan Grage" class="w-full object-cover
                lg:h-[560px] lg:snap-start lg:flex-none">
    </div>
    <div class="lg:col-start-7 lg:col-end-12 lg:flex lg:flex-col lg:justify-end">
    <Text stylingclasses="text-primary-400 pt-5 pb-2 lg:pb-5"><span class="text-tertiary-100">Jonas Hasle</span> - Assistant lecturer, Multimedia Design programme at EK.</Text>
    <Text stylingclasses="text-primary-400 pb-2 lg:pb-5"><span class="text-tertiary-100">Anders Dollerup</span> - Associate lecturer, Multimedia Design programme at EK.</Text>
    <Text stylingclasses="text-primary-400 pb-2 lg:pb-5"><span class="text-tertiary-100">Birgitte Heide</span> - Associate lecturer, Multimedia Design programme at EK.</Text>
    <Text stylingclasses="text-primary-400 pb-2 lg:pb-5"><span class="text-tertiary-100">Stefan Grage</span> - Associate lecturer, Multimedia Design programme at EK.</Text>
    <Text stylingclasses="text-primary-400 pb-18 lg:pb-5"><span class="text-tertiary-100">Students</span> on the Digital Design Elective on the Multimedia Design programme at EK.</Text>
    </div>
</section>
<section class="grid lg:grid-cols-12 lg:gap-5 lg:pb-40">
    <img src="/img/kea.png" alt="Kea Guldbergsgade" class="lg:mt-50 lg:col-start-7 lg:col-end-12 lg:row-start-2">
    <Heading size="h2" htmlheading="h2" stylingclasses="text-tertiary-400 pt-5 px-5 lg:col-start-2 lg:col-end-12">Sponsers</Heading>
    <div class="lg:flex lg:col-start-2 lg:col-end-7 lg:flex-col lg:justify-end">
    <Text stylingclasses="px-5 pb-15 lg:px-0 lg:pb-5">Instant Day is not affiliated to any companies within the Instant Photography industry. The only organisation backing us is EK - Business Academy Copenhagen. At least so far...</Text>
    <div class="flex justify-end lg:justify-normal">
      <Button stylingclasses="mr-5 mb-18 lg:m-0">Explore EK</Button>
    </div>
    </div>
</section>
    </main>
</MainLayout>