---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
import Form from "../components/Form.astro";
import Guide from "../components/Guide.astro";
---
<MainLayout title="Titel">
	<main>
        <Guide></Guide>
        <section class="py-30">
            <Heading stylingclasses="text-center mb-10">Submit your instant</Heading>
            <Form></Form>
        </section>
        <section class="lg:grid lg:grid-cols-12 lg:gap-5">
            <img 
            src="/img/polaroid_collage.webp" 
            alt="A lot of polaroids" 
            class="w-full h-auto m-auto px-15 py-5 lg:h-screen object-cover lg:p-0 lg:col-start-7 lg:col-end-13 lg:row-start-1">
            <div class="px-5 lg:col-start-2 lg:col-end-7 lg:row-start-1 pb-10 lg:px-0 lg:flex lg:flex-col lg:justify-between">
                <Heading size="h1" htmlheading="h1" stylingclasses="">What is instant day?</Heading>
                <Text>
                <span class="text-tertiary-400">October 18</span> is Instant Day - a day all about celebrating instant photography. So get out your Polaroid, Instax or whatever instant photography camera you are using, and show us your instants. <br>Instant Day isn´t really a photo competition, it´s more a homage to <span class="text-tertiary-400">good old analogue, instant photography</span> - everybody who participates are winners. But: We do have a nice prize for one lucky instant photographer!
                </Text>
            </div>
        </section>
    </main>
</MainLayout>