---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
import Form from "../components/Form.astro";
import Guide from "../components/Guide.astro";
---
<MainLayout title="Titel">
	<main>
        <Guide></Guide>
        <section class="py-30">
            <Heading stylingclasses="text-center mb-10">Submit your instant</Heading>
            <Form></Form>
        </section>
        <section class="lg:grid lg:grid-cols-12 lg:gap-5">
            <img 
            src="/img/polaroid_collage.webp" 
            alt="A lot of polaroids" 
            class="w-full h-auto m-auto px-15 py-5 lg:h-screen object-cover lg:p-0 lg:col-start-7 lg:col-end-13 lg:row-start-1">
            <div class="px-5 lg:col-start-2 lg:col-end-7 lg:row-start-1 pb-15 lg:px-0 lg:flex lg:flex-col lg:justify-between">
                <Heading size="h1" htmlheading="h1" stylingclasses="">What is instant day?</Heading>
                <Text>
                <span class="text-tertiary-400">October 18</span> is Instant Day - a day all about celebrating instant photography. So get out your Polaroid, Instax or whatever instant photography camera you are using, and show us your instants. <br>Instant Day isn´t really a photo competition, it´s more a homage to <span class="text-tertiary-400">good old analogue, instant photography</span> - everybody who participates are winners. But: We do have a nice prize for one lucky instant photographer!
                </Text>
            </div>
        </section>
        <section class="bg-secondary-400 lg:grid lg:grid-cols-12 lg:gap-5">
            <Heading size="h1" htmlheading="h1" stylingclasses="pt-15 px-5 text-primary-400 lg:col-start-2 lg:col-end-12 lg:text-right lg:pt-20">Why instant photography?</Heading>
            <div class="px-5 text-primary-400 lg:col-start-7 lg:col-end-12 lg:row-start-2 lg:px-0">
            <Text stylingclasses="pb-4">
                Instant Photography is a testament to life: It all started back in the <span class="text-tertiary-100">1940’s</span> with a 3 year old kid. She wanted to see her fathers images right away. The father, <span class="text-tertiary-100">Edwin Land</span>, embarked on a mission: To invent instant photography.
            </Text>
            <Text stylingclasses="pb-4">
                Half a decade later, Edwin Land launched Instant photography and established the <span class="text-tertiary-100">Polaroid</span> brand. Instant photography turned into big business in the 70’s and 80’s, until the digital era almost killed the industry.
            </Text>
            <Text stylingclasses="pb-10 lg:pb-0 lg:mb-40">
                The massive amount of time wasted on the small screens have spurred a counterreaction: Analogue, off-line experiences have become popular again. And instant photography is just that: An <span class="text-tertiary-100">analogue, life-affirming and tactile</span> photography experience. So let’s celebrate life, and make memories!
            </Text>
            </div>
            <div class="lg:col-start-2 lg:col-end-6 lg:row-start-2 lg:flex lg:flex-col lg:justify-end">
            <img src="/img/edwin_land_result.webp" alt="Edwin Land" class="px-5 pb-15 lg:px-0 lg:pb-0 lg:mb-40">
            </div>
        </section>
    </main>
</MainLayout>