---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
import Form from "../components/Form.astro";
import Guide from "../components/Guide.astro";
---
<MainLayout title="Titel">
	<main>
        <Guide></Guide>
        <section id="instantform" class="py-30">
            <Heading stylingclasses="text-center mb-10">Submit your instant</Heading>
            <Form></Form>
        </section>
       
    </main>
</MainLayout>