---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
import Form from "../components/Form.astro";
---
<MainLayout title="Titel">
	<main>
        <section id="step_one" class="lg:grid lg:grid-cols-12 lg:gap-5">
            <Heading stylingclasses="text-tertiary-400 text-center mt-18 lg:text-left lg:col-start-2 lg:col-end-12">How to participate:</Heading>
            <div class="flex gap-5 p-5 lg:col-start-2 lg:col-end-7 lg:p-0">
                <Heading size="h1" htmlheading="h1" stylingclasses="text-secondary-400 text-[72px] lg:text-[95px]">1</Heading>
                <Text stylingclasses="pt-5 lg:pt-7">Take a photo of your instant with your smartphone (or scan it for max. quality) - the file should be between 2 - 10 MB, in jpg/jpeg or webp format.</Text>
            </div>
            <img src="/img/placeholder.png" alt="Hand holding instant camera" class="h-[200px] width-auto m-auto lg:h-[400px] lg:col-start-8 lg:col-end-12 lg:pt-7">
            <img src="" alt="">
        </section>
        <section id="step_two">

        </section>
        <section id="step_three">

        </section>
        <section id="step_four">

        </section>
        <section class="py-30">
            <Form></Form>
        </section>
    </main>
</MainLayout>