---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
import NomineeCard from "../components/NomineeCard.astro";
---

<MainLayout title="Titel">
  <main class="bg-primary-400">
    <section class="w-full grid lg:grid-cols-12 lg:gap-0 lg:min-h-[600px]">
      <!-- Billede til venstre, fylder 6 kolonner på desktop -->
      <div class="lg:col-span-6 w-full h-full flex">
        <img
          src="/img/winner_photo.png"
          alt="Winner Polaroid"
          class="object-cover w-full h-full max-h-[600px] lg:max-h-none"
          style="object-position: left;"
        />
      </div>
      <!-- Tekst og heading til højre, fylder 6 kolonner på desktop -->
      <div
        class="lg:col-span-6 flex flex-col justify-center px-5 py-10 lg:px-16"
      >
        <Heading
          size="h1"
          htmlheading="h1"
          stylingclasses="text-tertiary-400 text-[40px] lg:text-[90px] lg:pt-80 lg:text-right mb-6"
        >
          WINNER
        </Heading>
        <Text stylingclasses="pb-2">
          Instant Day was quite a success with more than
          <span class="text-tertiary-400">843 contributions.</span>
          So it was difficult to find a winner. After a couple of long but exciting
          days, the judges agreed on the winner and the
          <span class="text-tertiary-400">16 nominees.</span>
        </Text>
        <Text stylingclasses="pb-8">
          And the winner is “<span class="text-tertiary-400">2 x Ørestad</span>”
          by
          <span class="text-tertiary-400">Stefan Grage</span> with the description
          ”A double exposure from my neighbourhood, Ørestad. Taken with a Lomomatic
          Square.”
        </Text>
      </div>
    </section>

    <section
      class="bg-[url(/img/raster_bg.jpg)] bg-cover bg-center grid lg:grid-cols-12 lg:gap-5 lg:pb-40"
    >
      <Heading
        size="h2"
        htmlheading="h2"
        stylingclasses="text-secondary-400 p-5 lg:col-start-2 lg:col-end-12 lg:px-0 lg:pt-12 lg:pb-0"
        >BEST OF 2025 - NOMINEES</Heading
      >
      <div
        class="w-full overflow-x-auto [-ms-overflow-style:none] [scrollbar-width:none] [&::-webkit-scrollbar]:hidden lg:flex lg:col-start-2 lg:col-end-20 lg:flex-col lg:justify-end"
      >
        <section
          class="flex flex-row gap-6 px-5 py-10 w-max lg:grid-cols-12 lg:col-start-2 lg:px-0"
        >
          <NomineeCard
            title="01 - Amager fælled"
            img="/img/test.png"
            submitter="Stefan Grage"
            description="A little snap from Amager Fælled, a large common in the southwestern part of Copenhagen, Denmark. Taken with a Lomomatic Square."
          />
          <NomineeCard
            title="02 - Amager Forbrænding"
            img="/img/test.png"
            submitter="Stefan Grage"
            description="I’d give my right arm for a cigarette. Taken with a Lomomatic Square."
          />
          <NomineeCard
            title="03 - Amager Strand"
            img="/img/test.png"
            submitter="Stefan Grage"
            description="From this angle, copenhagen looks like a big city. Taken with a Polaroid Now+ gen 2, with a yellow tint filter."
          />
          <NomineeCard
            title="04 - Hands off my happy meal!"
            img="/img/test.png"
            submitter="Stefan Grage"
            description="A casual snap from Burger King. As it shows, the youngest kid didn’t want to share his happy meal (or whatever a kids meal is called in Burger King). Taken with an Instax Mini (can’t remember which camera)."
          />
          <NomineeCard
            title="03 - Amager Strand"
            img="/img/test.png"
            submitter="Stefan Grage"
            description="From this angle, copenhagen looks like a big city. Taken with a Polaroid Now+ gen 2, with a yellow tint filter."
          />
          <NomineeCard
            title="03 - Amager Strand"
            img="/img/test.png"
            submitter="Stefan Grage"
            description="From this angle, copenhagen looks like a big city. Taken with a Polaroid Now+ gen 2, with a yellow tint filter."
          />
        </section>
      </div>
    </section>
  </main>
</MainLayout>
