---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
import NomineeCard from "../components/NomineeCard.astro";
---

<MainLayout title="Titel">
  <main class="bg-primary-400">
    <section class="w-full grid lg:grid-cols-12 lg:gap-0 lg:min-h-[600px]">
      <!-- Billede til venstre, fylder 6 kolonner på desktop -->
      <div class="lg:col-span-6 w-full h-full flex">
        <img
          src="/img/winner_photo.png"
          alt="Winner Polaroid"
          class="object-cover w-full h-full max-h-[600px] lg:max-h-none"
          style="object-position: left;"
        />
      </div>
      <!-- Tekst og heading til højre, fylder 6 kolonner på desktop -->
      <div
        class="lg:col-span-6 flex flex-col justify-center px-5 py-10 lg:px-16"
      >
        <Heading
          size="h1"
          htmlheading="h1"
          stylingclasses="text-tertiary-400 text-[40px] lg:text-[90px] lg:pt-80 lg:text-right mb-6"
        >
          WINNER
        </Heading>
        <Text stylingclasses="pb-2">
          Instant Day was quite a success with more than
          <span class="text-tertiary-400">843 contributions.</span>
          So it was difficult to find a winner. After a couple of long but exciting
          days, the judges agreed on the winner and the
          <span class="text-tertiary-400">16 nominees.</span>
        </Text>
        <Text stylingclasses="pb-8">
          And the winner is “<span class="text-tertiary-400">2 x Ørestad</span>”
          by
          <span class="text-tertiary-400">Stefan Grage</span> with the description
          ”A double exposure from my neighbourhood, Ørestad. Taken with a Lomomatic
          Square.”
        </Text>
      </div>
    </section>

    <section
      class="bg-[url(/img/raster_bg.jpg)] bg-cover bg-center grid lg:grid-cols-12 lg:gap-5 lg:pb-40"
    >
      <Heading
        size="h2"
        htmlheading="h2"
        stylingclasses="text-secondary-400 p-5 lg:col-start-2 lg:col-end-12 lg:px-0 lg:pt-12 lg:pb-0"
        >BEST OF 2025 - NOMINEES</Heading
      >
      <div
        class="w-full overflow-x-auto [-ms-overflow-style:none] [scrollbar-width:none] [&::-webkit-scrollbar]:hidden lg:flex lg:col-start-2 lg:col-end-20 lg:flex-col lg:justify-end"
      >
        <section
          class="flex flex-row gap-6 px-5 py-10 w-max lg:grid-cols-12 lg:col-start-2 lg:px-0"
        >
          <NomineeCard
            title="01 - Amager fælled"
            img="/img/01.webp"
            alt="Photo of Amager Fælled"
            submitter="Stefan Grage"
            description="A little snap from Amager Fælled, a large common in the southwestern part of Copenhagen, Denmark. Taken with a Lomomatic Square."
          />
          <NomineeCard
            title="02 - Amager Forbrænding"
            img="/img/02.webp"
            alt="Photo of Amager Forbrænding"
            submitter="Stefan Grage"
            description="I’d give my right arm for a cigarette. Taken with a Lomomatic Square."
          />
          <NomineeCard
            title="03 - Amager Strand"
            img="/img/03.webp"
            alt="Photo of Amager Strand"
            submitter="Stefan Grage"
            description="From this angle, copenhagen looks like a big city. Taken with a Polaroid Now+ gen 2, with a yellow tint filter."
          />
          <NomineeCard
            title="04 - Hands off my happy meal!"
            img="/img/04.webp"
            alt="Photo of a kid with a happy meal"
            submitter="Stefan Grage"
            description="A casual snap from Burger King. As it shows, the youngest kid didn’t want to share his happy meal (or whatever a kids meal is called in Burger King). Taken with an Instax Mini (can’t remember which camera)."
          />
          <NomineeCard
            title="05 - 2x Ørestad"
            img="/img/05.webp"
            alt="Photo of Ørestad"
            submitter="Stefan Grage"
            description="A double exposure from my neighbourhood, Ørestad. Taken with a Lomomatic Square."
          />
          <NomineeCard
            title="06 - Løserup Strand"
            img="/img/06.webp"
            alt="Photo of Løserup Strand"
            submitter="Stefan Grage"
            description="Too cold to take a dip. So I took a photo instead. The polaroid had an awful magenta color cast, but I ended up liking it. Taken with a Polaroid Now+ gen 2 and an i-Type film, which I probably stored incorrectly."
          />
          <NomineeCard
            title="07 - New meets old"
            img="/img/07.webp"
            alt="Photo of Ørestad"
            submitter="Stefan Grage"
            description="I wanted to catch the new city development district, Ørestad, in a shade of old school. So I used a Polaroid Now+ gen 2 in tripod mode with an i-Type black and white film in order to make a long exposure."
          />
          <NomineeCard
            title="08 - Karlstrup & coffee"
            img="/img/08.webp"
            alt="Photo of Karlstrup"
            submitter="Stefan Grage"
            description="The scenic beauty of a former lime pit with a twist of coffee: The polaroid was soaked in coffee for a couple of weeks. That gave it a nice tan. Polaroid flip."
          />
          <NomineeCard
            title="09 - Amager Strand at night"
            img="/img/09.webp"
            alt="Photo of Amager Strand at night"
            submitter="Stefan Grage"
            description="Amager Strand, Copenhagen. Locally referred to as Copenhagens mini-manhattan. Long exposure, Polaroid Now+ gen 2 in manual mode with an i-Type color film in order to make a long exposure."
          />
          <NomineeCard
            title="10 - Close to the sea"
            img="/img/10.webp"
            alt="Photo of Amager Strand"
            submitter="Stefan Grage"
            description="Amager Strand is close to the sea. So I wanted to give this polaroid a twist of water: The polaroid soaked for around three weeks in water. I used a Polaroid Now+ gen 2."
          />
          <NomineeCard
            title="11 - Micro adventure 1"
            img="/img/11.webp"
            alt="Photo of Løserup Strand"
            submitter="Stefan Grage"
            description="The beach at my summer house in Løserup. Expired instax mini film. I microwaved it. I should have studied how to microwave an instant image: It caught fire in the oven."
          />
          <NomineeCard
            title="12 - Micro adventure 2"
            img="/img/12.webp"
            alt="Photo of Løserup Strand"
            submitter="Stefan Grage"
            description="The beach at my summer house in Løserup. Expired instax mini film. I microwaved it. I should have studied how to microwave an instant image: It caught fire in the oven."
          />
          <NomineeCard
            title="13 - Nordhavn at night"
            img="/img/13.webp"
            alt="Photo of Nordhavn at night"
            submitter="Stefan Grage"
            description="Nordhavn, Copenhagen, at night. Long exposure with expired film. I used a Polaroid Flip in manual mode with an i-Type film in order to make a long exposure."
          />
          <NomineeCard
            title="14 - Beer Beach"
            img="/img/14.webp"
            alt="Photo of Løserup Strand"
            submitter="Stefan Grage"
            description="Løserup strand in Holbæk. I often go there to quelch beer. So I wanted to give this polaroid a twist of beer: The polaroid soaked for around three weeks in Pripps blå - a cheap, swedish beer. I used a Polaroid Flip and expired film."
          />
          <NomineeCard
            title="15 - Beer abstract"
            img="/img/15.webp"
            alt="Photo of Løserup Strand"
            submitter="Stefan Grage"
            description="Løserup strand in Holbæk. The polaroid was soaked in beer for around three weeks, which turned the landscape into an unrecognizable pattern of colors. I used a Polaroid Flip, expired film and a can of Pripps blå beer."
          />
          <NomineeCard
            title="16 - Vejlands Allé"
            img="/img/16.webp"
            alt="Photo of Vejlands Allé"
            submitter="Stefan Grage"
            description="Big road, lots of traffic. Too wide for a single shot. So I composed this image on an old Minolta panoramic camera, and printed in on a Polaroid Lab with expired film, cut up the polaroids (lazy dry lift) and stitched them together on my scanner."
          />
        </section>
      </div>
    </section>
  </main>
</MainLayout>
