---
import Heading from '../components/Heading.astro';
import Text from '../components/Text.astro';
import Link from './Link.astro';
---
<section id="step_one" class="lg:grid lg:grid-cols-12 lg:gap-5"> 
            <Heading stylingclasses="text-tertiary-400 text-center mt-18 lg:text-left lg:col-start-2 lg:col-end-12">How to participate:</Heading>
            <div class="flex gap-7 p-5 lg:col-start-2 lg:col-end-7 lg:p-0 lg:gap-10">
                <Heading size="h1" htmlheading="h1" stylingclasses="text-secondary-400 text-[72px] lg:text-[95px]">1</Heading>
                <Text stylingclasses="pt-5 lg:pt-7">Take a photo of your instant with your smartphone (or scan it for max. quality) - the file should be between 2 - 10 MB, in jpg/jpeg or webp format.</Text>
            </div>
            <img src="/img/inspiration_2.webp" alt="Hand holding instant camera" class="h-[200px] width-auto m-auto pb-10 lg:h-[400px] lg:col-start-7  lg:col-end-12 lg:pt-7 xl:col-start-8">
            <img src="/img/divider-mobile.svg" alt="" class="lg:hidden px-5 w-full">
            <img src="/img/divider-desktop.svg" alt="" class="hidden lg:block lg:col-start-2 lg:col-end-12 lg:w-full">
 </section>
        <section id="step_two" class="lg:grid lg:grid-cols-12 lg:gap-5 mt-10">
            <div class="flex gap-7 p-5 lg:col-start-2 lg:col-end-7 lg:p-0 lg:gap-10">
                <Heading size="h1" htmlheading="h1" stylingclasses="text-secondary-400 text-[72px] lg:text-[95px]">2</Heading>
                <Text stylingclasses="pt-5 lg:pt-7">Upload your photo and credentials in the form <Link href="#instantform">below</Link>.</Text>
            </div>
            <img src="/img/uploading_result.webp" alt="Upload icon" class="m-auto px-25 pb-10 lg:col-start-7  lg:col-end-12 lg:pt-7 xl:col-start-8 lg:px-0">
            <img src="/img/divider-mobile.svg" alt="" class="lg:hidden px-5 w-full">
            <img src="/img/divider-desktop.svg" alt="" class="hidden lg:block lg:col-start-2 lg:col-end-12 lg:w-full">
        </section>
        <section id="step_three" class="lg:grid lg:grid-cols-12 lg:gap-5 mt-10">
            <div class="flex gap-7 p-5 lg:col-start-2 lg:col-end-7 lg:p-0 lg:gap-10">
                <Heading size="h1" htmlheading="h1" stylingclasses="text-secondary-400 text-[72px] lg:text-[95px]">3</Heading>
                <Text stylingclasses="pt-5 lg:pt-7">Agree to our terms and conditions. The short version: Participants have to be 18+, portrayed persons must have given consent, and you agree that your instant can be exhibited and used to promote the photo contest.</Text>
            </div>
            <img src="/img/terms_hand_result.webp" alt="Hand writing" class="pb-10 h-[200px] width-auto m-auto lg:h-[400px] lg:col-start-7  lg:col-end-12 lg:pt-7 xl:col-start-8">
            <img src="/img/divider-mobile.svg" alt="" class="lg:hidden px-5 w-full">
            <img src="/img/divider-desktop.svg" alt="" class="hidden lg:block lg:col-start-2 lg:col-end-12 lg:w-full">
        </section>
        <section id="step_four" class="lg:grid lg:grid-cols-12 lg:gap-5 mt-10">
            <div class="flex gap-7 p-5 lg:col-start-2 lg:col-end-7 lg:p-0 lg:gap-10">
                <Heading size="h1" htmlheading="h1" stylingclasses="text-secondary-400 text-[72px] lg:text-[95px]">4</Heading>
                <Text stylingclasses="pt-5 lg:pt-7">You can make up to 5 submissions - go through step 1-3 for each submission.</Text>
            </div>
            <img src="/img/polaroids_result.webp" alt="Hand holding instant camera" class="pb-10 h-[200px] width-auto m-auto lg:h-[400px] lg:col-start-7  lg:col-end-12 lg:pt-7 xl:col-start-8">
            <img src="/img/divider-mobile.svg" alt="" class="lg:hidden px-5 w-full">
            <img src="/img/divider-desktop.svg" alt="" class="hidden lg:block lg:col-start-2 lg:col-end-12 lg:w-full">
        </section>