---
const { href = "#", target = "_self", stylingclasses = "" } = Astro.props;
const rel = target === "_blank" ? "noopener noreferrer" : undefined;

// Base styling for all links
const base = "font-bold underline text-tertiary-400 text-[16px] lg:text-[22px] hover:text-tertiary-700";
---
<a href={href} target={target} rel={rel} class:list={[base, stylingclasses]}>
  <slot />
</a>
