---
const { title, description, submitter, align, img, alt_tekst } = Astro.props;
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
---

<!-- NomineeCard.astro -->
<div
  class="w-72 flex-shrink-0 bg-primary-400 border-2 border-secondary-400 shadow-md p-4 lg:w-85"
>
  <Heading size="h4" htmlheading="h4" class="font-mono mb-2 lg:!text-[27px"
    >{title}</Heading
  >

  <img src={img} alt={alt_tekst ?? title} class="w-full object-cover my-4" />

  <Text teksttype="p_smallest" stylingclasses="mt-5 lg:!text-[13px] ">
    By: {submitter}
  </Text>

  <Text teksttype="p_smaller" stylingclasses="mt-5 lg:!text-[17px] ">
    {description}
  </Text>
</div>
